<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <!-- Source for Privacy Policy -->
        <!-- https://www.websitepolicies.com/blog/sample-privacy-policy-template -->
        <p>We promise not to sell or misuse your information.</p>
        <p>For more details, please read our <a href="privacy_policy_disclaimer.pdf">Privacy/Disclaimer Statement</a>.
        </p>
        <p>&copy; 2024 Fur-Ever Home Adoption Center. All rights reserved.</p>
    </footer>
</body>
</html>