<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1 class="header_title">Fur-Ever Home Adoption Center</h1>

        <!-- Image Credit - https://cdn.pixabay.com/photo/2024/01/22/15/40/cat-8525666_1280.png -->
        <a href="/">
            <img src="https://cdn.pixabay.com/photo/2024/01/22/15/40/cat-8525666_1280.png" alt="Adopt A Cat/Dog"
                width="100" height="80">
        </a>

        <p id="current_time_item"></p>

        <script src="js/headerTime.js"></script>
    </header>
</body>
</html>