<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fur-Ever Home Adoption Center</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="main_body">
        <div class="side_menu_container">
            <ul class="side_menu">
                <li><a href="/">Home</a></li>
                <li><a href="/find_cat_dog">Find a dog/cat</a></li>
                <li><a href="/dog_care">Dog Care</a></li>
                <li><a class="active">Cat Care</a></li>
                <li><a href="/pet_give_away">Have a pet to give away</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
                <li><a href="/authenticate">Login/Create Account</a></li>
            </ul>
        </div>
        <div class="main_content_container">
            <h1>Cat Care Tips</h1>
            <p>Your Go-To Guide for Providing the Best Care for Your Feline Friend</p>
        
        <ol class="care_tips_list">
            <li><p>CONSIDER YOUR LIFESTYLE.</p>
                Cats are indeed independent by nature, but they're not quite able to take care of themselves. Before you adopt, make sure that your lifestyle can make room for a feline. How busy you are and the amount of time you spend at home will dictate the kind of cat you should get -- very busy people may find it difficult to find the time for a cat that needs a lot of grooming and attention, especially the highly intelligent and active cats. But, there are cats that are ideal for the working lifestyle. Do your research.
            </li>
            <li><p>PREPARE FOR CHANGES.</p>
                What if your circumstances change after the adoption? Or if you work long hours and still want a friendly face to greet you at the door at the end of the day? Adopting a buddy for the cat to play with can be an excellent solution.
            </li>
            <li><p>CHECK FOR ALLERGIES.</p>
                Do you have any allergies? If you do suffer from severe allergic reactions, consider testing yourself for feline allergies before bringing a cat home. Then again, some people with allergies might adapt to their own pet, but still be allergic to other cats. A safe bet is to choose a cat with low allergens. Consult your vet, books, or animal shelter employees for suggestions.
            </li>
            <li><p>VETERINARY CARE.</p>
                Before you bring your cat home, take it for a checkup and immunizations. Also, schedule it in to be neutered as soon as age permits. This can mean the difference between a healthy and happy cat, and a miserable cat trying to claw its way through the windows or spraying your furniture.
            </li>
            <li><p>LITTER BOX AND BOX.</p>
                Get a good cat litter box and quality cat litter. An enclosed litter box can allow you and your cat more privacy, and clumping litter is easier to maintain. Keep the box clean, for the comfort of your cat and your nose. Also, make sure you buy well-balanced, age-appropriate food for your cat. Ask your vet, the representatives at your local pet store, or take a look at "Smart Shopping for Cat Food" for some advice.
            </li>
            <li><p>PROVIDE TOYS.</p>
                Cats love to play. Toy mice, string, feathers, and even empty boxes make for great amusement. Playthings needn't be expensive (they can even be homemade), just make sure there's enough to keep your cat happy, active, and mentally occupied.
            </li>
            <li><p>SCRATCHING POSTS.</p>
                If you don't want your sofa shredded, or your new Louis Vuitton bag ruined, invest in a scratching post.
            </li>
            <li><p>TRAINING TOOLS.</p>
                Catnip, and those little freeze-dried cat treats are excellent tools for cat bribery and training.
            </li>
            <li><p>PET INSURANCE.</p>
                Get pet insurance. We hope you won't need it, but like they always say, "It's better to be safe than sorry."
            </li>
            <li><p>GROOMING ROUTINE.</p>
                If it's a kitten you're bringing home, make sure you start a grooming routine early. Bathing, brushing, and trimming claws will be an event to look forward to, rather than something to dread.
            </li>
        </ol>
        
            <p>Sourced from the article:
                <a href="https://www.petmd.com/cat/care/evr_ct_tips_for_new_cat_owners">10 Tips for New Cat Owners
                </a>
            </p>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>