<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fur-Ever Home Adoption Center</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('partials/header.ejs') %>

    <div class="main_body">
        <div class="side_menu_container">
            <ul class="side_menu">
                <li><a class="active">Home</a></li>
                <li><a href="/find_cat_dog">Find a dog/cat</a></li>
                <li><a href="/dog_care">Dog Care</a></li>
                <li><a href="/cat_care">Cat Care</a></li>
                <li><a href="/pet_give_away">Have a pet to give away</a></li>
                <li><a href="/contact_us">Contact Us</a></li>
                <li><a href="/authenticate">Login/Create Account</a></li>
            </ul>
        </div>
        <div class="main_content_container">
            <h1>Welcome to Fur-Ever Home Adoption Center</h1>
            <h2>Your New Best Friend is Just a Click Away!</h2>

            <p>We believe every animal deserves a loving home. Our mission is to match these wonderful creatures with
                compassionate families who can provide the care and companionship they deserve.</p>

            <br>

            <h3>Why Adopt from Us?</h3>
            <ul class="general_list">
                <li><b>Wide Variety of Pets: </b>From playful puppies and kittens to serene seniors, we have animals of
                    all ages and personalities waiting to meet you.</li>
                <li><b>Health and Safety: </b>All our animals are thoroughly vetted, vaccinated, and spayed/neutered. We
                    prioritize their health and well-being.</li>
                <li><b>Supportive Community: </b>When you adopt from us, you become part of our family. We offer
                    resources, advice, and support to help you and your new pet adjust.</li>
            </ul>

            <br>

            <h3>How to Adopt/Giveaway?</h3>
            <ul class="general_list">
                <li><b>Browse Our Pets: </b>Check out our the available pets or find a specific one to see the adorable
                    animals currently available for adoption.</li>
                <li><b>Contact Us: </b>We understand that sometimes circumstances change, and you may need to find a new
                    home for your pet. We're here to help. Fill out the form and we'll provide guidance and support
                    throughout the process.</li>
            </ul>

            <br>

            <h3>Pet care tips</h3>
            <p>Ensuring your pet is well-cared for is essential for their health and happiness. Follow our tips on how
                to care for your cats and dogs.</p>
        </div>
    </div>
    
    <%- include('partials/footer.ejs') %>
</body>

</html>